#page-header h1 {
  padding: 2px 0;
}
#page-header p {
  color: $gray;
  padding: 3px 0 0 .5em;
  font-size: .8em;
  font-style: italic;
}

.post-collapsed {
  margin-top: 1.5em;
}
.post-collapsed-header {
  margin-left: .5em;
  a {
    color: $fore-color;
    &:hover { color: $gray-dark; };
  }
}
.post-collapsed-content {
  padding-top: .5em;
}
.post-collapsed-read-more {
  padding: .2em 0 0 .5em;
}

#post-header {
  margin: 1.5em 0;
}
#post-meta {
  font-size: .5em;
  margin-top: .5em;
}
.post-meta-divider {
  margin: 0 .5em;
}
#post-tags {
  margin: 1em;
  font-size: .5em;
}
#post-body {
  margin-top: 1.2em;
  blockquote {
    color: $gray;
  }
}

#btn-back-to-top {
  position: fixed;
  right: 1.2em;
  bottom: 2.5em;
  display: none;
}

.page-pagination {
  text-align: center;
}

#tag-page-posts .item {
  margin: 1em 0;
}

#tag-cloud-title, #tag-page-title {
  text-align: center;
  margin: 1em;
}
#tag-cloud-tags {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  a {
    text-align: center;
    margin: .25em 1em;
    display: inline-block;
  }
}

.math-inline {
  margin: 0 .2em;
}
.math-display {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about-me-header>img {
  -webkit-box-shadow: 0 0 25px rgba(0, 204, 204, .7);
  -moz-box-shadow: 0 0 25px rgba(0, 204, 204, .7);
  box-shadow: 0 0 25px rgba(0, 204, 204, .7);
}