$fore-color = #111
$back-color = white
$gray-light = #B0B0B0
$gray       = #7b7b7b
$gray-dark  = #555

$font-family-chinese   = "PingFang SC", "Microsoft YaHei"
$font-family-base      = $font-family-chinese, sans-serif
$font-family-monospace = consolas, Menlo, $font-family-chinese, monospace

$code-border-radius = .3em
$code-font-size     = .8em
$code-font-family   = $font-family-monospace
